body{
    background-color:  #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     margin: 0;
}
.left_section {
    max-width: 400px;
    margin-right: 70px;
    margin: 100px;
}
.left_section h1{
    color: #1877f2;
    font-size: 48px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.left_section p1{
    color:black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    max-width: 350px; 
    margin-top: 10px;
    
}
.right_section{
    background: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 380px;
}
.right_section input{
    width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-right: 10px;
            
    
}
.right_section button{
    background-color: #1877f2;
            color: white;
            border: none;
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            width: 100%;
            cursor: pointer;
            margin: 5px;
}
.right_section a{
    color:#1877f2;
    font-size: 18px;
    display: block;
    text-decoration: none;
}

.create_account {
    background-color: #42b72a; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.create-page{

    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    color: #000000;
}